<h2>Edit <%= @user.username %> </h2>


    <%= form_with model: @user do |f| %>

    <%= f.label "username" %>
    <%= f.text_field :username, placeholder: @user.username%><br>

    <%= f.label "Email" %>
    <%= f.email_field :email, placeholder: @user.email%><br><br>

    <%= f.submit "Edit ✔", :class => "button"%>

    or <%= link_to "DELETE Your Account ␡", @user, method: :delete, :class => "button"  %> </p>


<% end %>

