
<h1> Welcome to Rate My Hair Stylist!!! 🤩</h1><br>

<h1>Please Sign UP!!</h1>


<%= form_with model: @user, url: '/signup' do |f| %>
<%= f.label "Username" %><br>
<%= f.text_field :username%><br>
<%= f.label:email, "Email" %><br>
<%= f.email_field :email %><br>
<%= f.label "Password" %><br>
<%= f.password_field :password %><br><br>



<%= f.submit "Signup 😜"%>

<%end%><br><br>