

<div class="row">
    <div class="column" style="background-color:#F5F5DC;">
        <div>
            <h3> Most Reviewed Hairstylists!! </h3>
                <ol>
                    <% @most_reviews.each do |hairstylist| %>
                        <li>
                            <b><%= link_to hairstylist.name, stylist_path(hairstylist) %></b>, 
                            <span class="right"><%= hairstylist.user_stylists.count %> reviews</span>
                        </li>
                    <% end %>
                </ol>
        </div>
    </div>



    <div class="column" style="background-color:#FFFAF0;">
        <div><br>
            <h3> Recently High-rated Reviews </h3>
                <ul >
                    <% @high_rated_hairstylists.each do |hairstylist| %>
                        <li> 
                            <span style="color:SlateBlue;font-weight:bold"> <%= link_to hairstylist.stylist.name, stylist_path(hairstylist.stylist) %> </span>, 
                            (<% hairstylist.stars.times do %><span class="star">⭐️</span><% end %>) 
                            <span class="right"><%= time_ago_in_words(hairstylist.created_at) %> ago</span>  
                        </li>
                    <% end %>
                </ul>
        </div>



        <div >
            <h3> Recent haircut reviews </h3>
                <ul>
                    <% @recent_reviews.each do |reviews| %>
                        <li>
                            <span style="color:SlateBlue;font-weight:bold"> <%= link_to reviews.haircut_date.strftime("%m/%d/%Y"), user_stylist_path(reviews) %> </span>
                            by <b><%= reviews.user.username %></b>.
                        </li>
                    <% end %>

                </ul>
        </div>
    </div>
</div>