

<h3> Most Reviewed Hairstylists!! </h3>

    <ol>

      <% @most_reviews.each do |hairstylist| %>
      <li><%= link_to hairstylist.name, stylist_path(hairstylist) %> <span class="right"> <%= hairstylist.user_stylists.count %> reviews </span></li>
      <% end %>

    </ol>




<h3> Recently High-rated Reviews </h3>

    <ol>

        <% @high_rated_hairstylists.each do |hairstylist| %>
            <li> 
                <span style="color:SlateBlue;font-weight:bold"> 
                    <%=hairstylist.stylist.name %>
                </span>, <%= hairstylist.stars %> stars<br>
                <b><%= hairstylist.user.username %></b> says, <%= hairstylist.comment %> 
            </li>
        <% end %>

    </ol>