

<h3> Most Reviewed Hairstylists!! </h3>

    <ol>

      <% @most_reviews.each do |hairstylist| %>
        <li>
            <b><%= link_to hairstylist.name, stylist_path(hairstylist) %></b>, 
            <%= hairstylist.user_stylists.count %> reviews
        </li>
      <% end %>

    </ol>




<h3> Recently High-rated Reviews </h3>

    <ul>

        <% @high_rated_hairstylists.each do |hairstylist| %>
            <li> 
                <span style="color:SlateBlue;font-weight:bold"> <%= link_to hairstylist.stylist.name, stylist_path(hairstylist.stylist) %> </span>, 
                (<% hairstylist.stars.times do %> <span class="star">⭐️</span><% end %>)
                <b><%= hairstylist.user.username %></b> says, <%= hairstylist.comment %> 
            </li>
        <% end %>

    </ul>


<h3> Recent haircut reviews </h3>

    <ul>

        <% @recent_reviews.each do |reviews| %>
            <li> 
                <span style="color:SlateBlue;font-weight:bold"> <%= link_to reviews.haircut_date, user_stylist_path(reviews) %> </span>, 
                <%= reviews.services %>
                <b><%= reviews.user.username %></b> says, <%= reviews.comment %> 
            </li>
        <% end %>

    </ul>