

<h2> We have total <span style="color:crimson;"> <%= @stylists.size %> </span> <%= "hairstylist".pluralize(@stylists.size) %> </h2>




<!-- ############LIVE CODING  :  Build a Search bar to find by stylist name #########-->
      <%= form_with url: "/stylists", method: :get do |form| %>
        <%= form.label :query, "Search for Hairstylist Name :" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
      <% end %>
<!--#################################################################################-->



  <ul class="split">
  <!-- all hairlists list -->
      <% @stylists.each do |stylist| %>
        <li>
            <p>
            <!-- ### hairstylist average rating### -->
            <b><%= link_to stylist.name, stylist_path(stylist) %> </b><br>
            Overall rating : <span style="color:crimson;"><%= stylist.average_rating %></span>,  
            Total reviews : <span style="color:crimson;"><%= stylist.user_stylists.size %></span>

            </p>
        </li>
      <% end %>

  </ul>




