<%= render partial: 'layouts/errors', locals:{object: @stylist}%>

<h2>Create a New Hairstylist !! </h2>

<br>
<div>
        <%= form_for @stylist do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name %><br>
                <%= f.label :phone %>
                <%= f.telephone_field :phone, placeholder: "123-123-1234", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %><br>
                <%= f.label :shop_name %>
                <%= f.text_field :shop_name %><br>
                <%= f.label :address %>
                <%= f.text_field :address %><br>

        <%= f.submit "Create a new Hair Stylist!" %>
        <% end %>

</div>