
<br>
<% if !logged_in? %>
<br>
    <div id="navbar">
    <%= button_to "Log in with Google", '/auth/google_oauth2',:class => "button"  %>
    <%= button_to "Sign Up", signup_path, :class => "button",  :method => :get  %> 
    <%= button_to "Log In",  login_path, :class => "button", :method => :get  %> 
    </div>  

<% else %>


         <h4>
         <b>|| 🤩<%= link_to "Main", pages_path %>🤩 ||
         🤩<%= link_to "Your Reviews", user_user_stylists_path(@user) %>🤩 ||
         🤩<%= link_to "Add a Review", new_user_user_stylist_path(@user) %>🤩 ||
         🤩<%= link_to "All Reviews", user_stylists_path %>🤩 || 
     
         💇‍♂️<%= link_to "Add a Hairstylist", new_stylist_path %> 💆‍♂️ ||
         🤩<%= link_to "All Hairstylists", stylists_path %>🤩 ||

 
        


        🤯<%= link_to "Your Profile", user_path(@user) %>🤯 ||
        💥<%= link_to "Log Out", logout_path,  method: :delete %> 💥 ||
        </b>
        </h4>
          <h1>   💇‍♂️  Hello,  <%= current_user.username.upcase %>!  💇🏻‍♂️ ‍</h1>



<% end %>


<hr>
